.login{
    display: flex;
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
    background-color: #f0f2f5;
    box-shadow: 0px 0px 16px -8px rgba(0, 0, 0, 0.68);
    -webkit-box-shadow: 0px 0px 16px -8px rgba(0, 0, 0, 0.68);
}

.loginWrapper{
   
    width: 70%;
    height: 70%;
    display: flex;
}

.loginLeft, .loginRight{
     display: flex;
     flex: 1;
     flex-direction: column;
     justify-content: center;
}

.loginLogo{
    font-size: 50px;
    font-weight: 800;
    color: #1775ee;
    margin-bottom: 10px;
}

.loginDesc{
    font-size: 25px;
}

.loginBox{
    height: 300px;
    padding: 10px;
    background-color: white;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 20px 0;
    
}

.loginInput{
    height: 50px;
    border-radius: 5px;
    border: 1px solid gray;
    font-size: 18px;
    outline: none;
    margin-bottom: 20px;
    padding: 10px 20px;
   
}

.loginButton{
    height: 50px;
    background-color: #1775ee;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    font-size: 20px;
    font-weight: 500;
    padding: 20px 0;
}

.loginRegisterButton{
    height: 50px;
    background-color: #1775ee;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    font-size: 20px;
    font-weight: 500;
    padding: 20px 0;
}

.loginForgot{
    text-align: center;
    font-weight: 700;
    font-size: 20px;
    margin: 20px 0;
}
